# Compiled files
*.tfstate
*.tfstate.backup

# Credentials
credentials.tf

# Cached modules
.terraform/

# Generated plans
*.plan

# Generated inventory
ddcloud.inventory

# Mac
.DS_Store

# Security configuration
security.yml
ssl/cacert.pem
ssl/index.txt
ssl/private/cakey.pem
ssl/serial
